:root{
    --main-color: yellow;
    --heading1:1.6rem;
    --heading2:1.4rem;
    --heading3:1.25rem;
    --heading4:1rem;
    --body:1rem;
    --body2:0.9rem;
    --weight1:700;
    --weight2:400;
    --lnh120:1.2;
    --lnh140:1.4;
    --lnh150:1.5;
    --profile-top-bg: rgba(202, 196, 208, 0.2);  
    --profile-bottom-bg: rgba(202, 196, 208, 0.1);                
}
main{
    overflow-x: hidden;
}
@media (min-width:2000px){
    main{
        width: 1920px;
        margin: 0 auto;
    }
}
html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    line-height: var(--lnh140);
    -webkit-text-size-adjust: 100%;
}
h1{
    font-size: var(--heading1);
    font-weight: var(--weight1);
}
h2{
    font-size: var(--heading2);
    font-weight: var(--weight1);
}
h3{
    font-size: var(--heading3);
    font-weight: var(--weight1);
}
h4{
    font-size: var(--heading4);
    font-weight: var(--weight1);
}
.Pretendard{
    font-weight: var(--weight2);
}
.common-frame{
   margin: 0 3rem;   

}
@media (max-width:1024px){
    html{
        font-size: 18px;
    }
    .common-frame{
        margin: 0 2rem;
    }
}
@media (max-width:768px){
    html{
        font-size: 14px;
    }
    .common-frame{
        margin: 0 1rem;
    }
}